* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background: black;
  color: #00ffee;
  text-align: center;
  overflow-x: hidden;
}

canvas {
  position: fixed;
  inset: 0;
  z-index: -1;
}

header {
  padding: 60px 20px;
}

.glitch {
  font-size: 3rem;
  color: crimson;
  animation: glitch 1s infinite;
}

@keyframes glitch {
  0% { text-shadow: 2px 2px cyan; }
  50% { text-shadow: -2px -2px magenta; }
  100% { text-shadow: 2px -2px red; }
}

button {
  padding: 12px 25px;
  margin: 10px;
  background: crimson;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.2s;
}

.box {
  padding: 40px;
}

.dark {
  background: rgba(0,255,255,0.05);
}

input {
  padding: 10px;
  border-radius: 15px;
  border: none;
}

footer {
  padding: 30px;
  opacity: 0.6;
}

/* TERMINAL */
#terminal {
  position: fixed;
  inset: 0;
  background: black;
  color: #00ffcc;
  display: none;
  padding: 30px;
  z-index: 10000;
}

#terminal pre {
  text-align: left;
  white-space: pre-wrap;
  line-height: 1.6;
}

#choices {
  margin-top: 20px;
}

/* REWIND */
#rewind {
  position: fixed;
  inset: 0;
  background: black;
  color: #00ffcc;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  z-index: 10001;
  animation: flicker 0.15s infinite;
}

@keyframes flicker {
  0% { opacity: 1 }
  50% { opacity: 0.4 }
  100% { opacity: 1 }
}

/* FINAL */
#finalEnding {
  position: fixed;
  inset: 0;
  background: black;
  color: crimson;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10002;
}
